<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
    <payment>
        <simplified>
            <active>1</active>
            <model>Khipu\Payment\Model\Simplified</model>
            <title>khipu</title>
            <payment_action>Authorization</payment_action>
            <invoice_settings>default</invoice_settings>
        </simplified>
    </payment>
</default>
</config>
